.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
**/*.quarto_ipynb
_site/*
Report_US2000Data_files/*
!_site/.gitkeep 

*.sav
*.sas7bdat
*.zip
*.dat
*.dta
_data/pisa2000.csv
*.RDS 
*.pdf
_data/pisa2000_imputed.csv
*.rda
*.sas